.colaborador {
    position: relative;
    width: 280px;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador {
  width: 280px;
  position: relative;
}

.colaborador .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}

.colaborador img {
  width: 140px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px #00000010;
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.colaborador .rodape h4 {
  color: #425be9;
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: bold;
}

.colaborador .deletar {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 30px;
  height: 30px;
  fill: #ffffff80;
  transition: 300ms;
}

.colaborador .deletar:hover {
  fill: #ffffff;
}